// _mixins.scss
@import "./variables";

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($columns: 12, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin media($size) {
  @if $size == sm {
    @media (max-width: $screen-sm) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: $screen-md) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: $screen-lg) {
      @content;
    }
  }
}

@mixin typography($type) {
  @if $type == heading1 {
    font-family: $BigShouldersDisplay;
    font-weight: 400;
    font-size: 96px;
    line-height: 1.2;
    letter-spacing: -0.04;
    color: $white;

    @include media(md) {
      font-size: 72px;
    }

    @include media(sm) {
      font-size: 60px;
    }
  } @else if $type == heading2 {
    font-family: $BigShouldersDisplay;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
    color: $black;

    @include media(md) {
      font-size: 48px;
    }

    @include media(sm) {
      font-size: 36px;
    }
  } @else if $type == heading3 {
    font-family: $BigShouldersDisplay;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.4;
    color: $gray10;
  } @else if $type == body {
    font-family: $D2;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: $gray70;

    @include media(md) {
      font-size: 14px;
    }

    @include media(sm) {
      font-size: 12px;
    }
  } @else if $type == span {
    font-family: $BigShouldersDisplay;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.4;
    color: $white;
  } @else if $type == menuLink {
    font-family: $D2;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $gray70;

    @include media(md) {
      font-size: 24px;
    }

    @include media(sm) {
      font-size: 18zpx;
    }
  }
}
