$white: #ffffff;
$black: #000000;
$gray10: #1a1a1a;
$gray20: #333333;
$gray70: #b3b3b3;

$BigShouldersDisplay: var(--font-big-shoulders-display);
$JetBrainsMono: var(--font-jetbrains-mono);
$D2: var(--font-d2);

$font-size-base: 16px;
$line-height-base: 1.5;

$screen-sm: 390px; // 모바일 일반
$screen-md: 810px; // 태블릿
$screen-lg: 1480px; // 작은 데스크탑
